<footer>
    <div class="footer-content">

        <table>
            <tr>
                <th>Sobre nosotros</th>
                <th>Nuestros servicios</th>
                <th>Ayuda</th>
                <th>Términos legales</th>
            </tr>
            <tr>
                <td>Quiénes Somos</td>
                <td>Cínicas veterinarias</td>
                <td>Preguntas Frecuentes</td>
                <td>Política de Cookies</td>
            </tr>
            <tr>
                <td>Entrar en mi cuenta</td>
                <td>adoptaUnPerrete.org</td>
                <td>Garantía de Bienestar Animal</td>
                <td>venta de medicamentes</td>
            </tr>
            <tr>
                <td>Seguir mi pedido</td>
                <td>Blog</td>
                <td>Privilegios de compra</td>
                <td>Condiciones de Contratación</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Términos y condiciones</td>
            </tr>
        </table>
    </div>
    <hr>
    <img class="logoImagen" src="./assets/logo.png" >
</footer>