footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.footer-content {
    margin: 0 auto;
    /* centra horizontalmente */
    max-width: 600px;
    /* ajusta el ancho máximo de la tabla */
    padding: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
}


.logoImagen{
    width: 400px;
    padding: 50px;
}