<!DOCTYPE html>
<html lang="en">

<head>

  <title>Document</title>
</head>

<body>
  <div class="contenedor-principal">
    <header>
      <P>TIENDA DE MASCOTAS ONLINE</P>
      <div class="compraTelefono">
        <div class="icon">
          <img style="width: 20px;" src="./assets/telefone.png" alt="telefone">

        </div>
        <div class="text">
          <div class="row" style="font-size: 12px;font-weight: 600;">COMPRA POR TELEFONO</div>
          <div class="row">000000000</div>
        </div>
      </div>
      <div class="compraWhatsapp">
        <div class="icon">
          <img style="width: 20px;" src="./assets/wasap.png" alt="telefone">

        </div>
        <div class="text">
          <div class="row" style="font-size: 12px;font-weight: 600;">COMPRA POR WHATSAPP</div>
          <div class="row">000000000</div>
        </div>
      </div>
    </header>

    <div class="ImagenFlotante">

    </div>

    <div class="informacionWeb">
      <div class="informacionWebInfo">
        <div class="icon">
          <img style="width: 40px;" src="./assets/pagoS.png" alt="telefone">

        </div>
        <div class="text">
          <div class="row" style="font-size: 16px">PAGO</div>
          <div class="row" style="font-weight: 600;">100% Seguro</div>
        </div>
      </div>
      <div class="informacionWebInfo">
        <div class="icon">
          <img style="width: 40px;" src="./assets/fastTime.png" alt="telefone">

        </div>
        <div class="text">
          <div class="row" style="font-size: 16px">Entrega en</div>
          <div class="row" style="font-weight: 600;">24/48h</div>
        </div>
      </div>
      <div class="informacionWebInfo">
        <div class="icon">
          <img style="width: 40px;" src="./assets/ClickCollect.png" alt="telefone">

        </div>
        <div class="text">
          <div class="row" style="font-size: 16px">Click & Collect</div>
          <div class="row" style="font-weight: 600;">gratis y con regalo</div>
        </div>
      </div>
      <div class="informacionWebInfo">
        <div class="icon">
          <img style="width: 40px;" src="./assets/caja.png" alt="telefone">

        </div>
        <div class="text">
          <div class="row" style="font-size: 16px">Envíos <strong>gratis</strong></div>
          <div class="row">a partir de <strong>49€</strong></div>
        </div>
      </div>
    </div>

    <div class="divsForA">
      <a routerLink="perro" >Hasta -20% en los accesorios más top > </a>
    </div>

    <div class="ofertasMultiples">

    </div>

    <div class="ofertasMultiples">

    </div>

    <div class="ofertasMultiples">

    </div>

  </div>
</body>

</html>
