 <div class="formulario-mostrar-Ticket" >
  <div class="marco-interior">
     <input type="text" placeholder="Introduzca número de ticket a consultar...">
    <div class="espacio-interior" >
      <a class="btn-volver" [hidden]="this.consultarTicket !== true"  (click)="this.consultarTicket = false">X</a>

      <table [hidden]="this.consultarTicket === true">
        <thead>
          <tr  >
            <th>Referencia</th>
            <th>Cliente</th>
            <th>Vendedor</th>

            </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let ticket of ticketBD" >
            <tr (dblclick)="seleccionarTicket(ticket)"  >
              <td>{{ticket.referencia}}</td>
              <td>{{ ticket.cliente?.nombre }} {{ticket.cliente?.apellido1}} {{ticket.cliente?.apellido2}}</td>
              <td>{{ticket.vendedor}}</td>

             </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="espacio-interior"  [hidden]="this.consultarTicket !== true">
         <p>Referencia: {{ticketActual.referencia}}</p>
        <p>Vendedor: {{ticketActual.vendedor}}</p>
        <p>Fecha: {{ticketActual.fecha}}</p>
        <p>Hora: {{ticketActual.hora}}</p>
        <p>Cliente: {{this.nombreTicketSeleccionado}}</p>
        <p>Metodo de pago: {{this.ticketActual.metodoPago}}</p>
        <p>Productos:</p>
        <table>
          <thead>
            <tr>
              <th>Cantidad</th>
              <th>Referencia</th>
              <th>Nombre</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prS of ticketActual.productos">
              <td>{{prS.cantidad}}</td>
              <td>{{ prS.producto.referencia }}</td>
              <td>{{ prS.producto.nombre }}</td>
              <td>{{ prS.producto.precio }} €</td>
            </tr>
          </tbody>
        </table>


      </div>



    </div>
  </div>

</div>
