<nav>
  <div class="nav">
    <input type="checkbox" id="nav-check" #navCheck>

    <div class="nav-title">
      <a class="logoGrande" routerLink=""><img src="./assets/logoGrande.webp" alt="logo" style="width: 200px;"></a>
    </div>

    <div class="nav-btn" id="menuHamburguer">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    <div class="nav-links">

      <a (click)="irA('perro')">Perro</a>
      <a (click)="irA('gato')">Gato</a>
      <a routerLink="pajaros">Pájaros</a>
      <a routerLink="roedores">Roedores</a>
      <a routerLink="reptiles">Reptiles</a>
      <a routerLink="acuariofilia">Acuariofilia</a>
      <a  (click)="irA('login')" class="btn"><mat-icon>person</mat-icon>
        <span>Iniciar
          sesión/Registrarte</span></a>
      <a (click)="irA('cesta')"  class="btn" (mouseenter)="mostrarCesta()"
        (mouseleave)="mostrarCesta()"><mat-icon>shopping_cart</mat-icon>
        <span>Cesta</span>
        <div class="container" *ngIf="cesta.length !== 0">
          <div class="tarjeta" [hidden]="!mostrar">
            <div class="tarjeta-cesta">
            <ul *ngFor="let dato of cesta">
              <li>{{dato.titulo}} - {{dato.precio}}</li>
            </ul>
          </div>
            <hr>
            <p>Subtotal: {{precioCesta.toFixed(2)}} €</p>
          </div>
        </div>
      </a>
    </div>

    <div class="buscardorMovil ">
      <input type="text" placeholder="Busca tus marcas y productos favoritos">
      <mat-icon>search</mat-icon>
    </div>
  </div>



</nav>
