<nav class="navbar">
  <div class="navbar-row">
    <div class="logo">
      <img routerLink="" src="./assets/logo.png" style="width: 120px; height: 36px;" alt="Logo">
    </div>
    <a routerLink="" class="buscaTienda">
      <div class="text">
        <div class="row" style="font-size: 12px">ENCUENTRA </div>
        <div class="row" style="font-size: 12px">TU TIENDA</div>
      </div>
      <div class="icon">
        <img style="width: 40px;" src="./assets/map.png" alt="telefone">

      </div>
    </a>
    <div class="search">
      <input type="text" placeholder="Busca tus marcas y productos favoritos">
      <img src="./assets/lupa.png" alt="lupa">
    </div>
    <div class="profile-icon">
      <img src="./assets/perfil.png" alt="Descripción del SVG">

    </div>
    <div class="cart-icon">
      <img src="./assets/cesta.png" alt="Descripción del SVG">

    </div>
  </div>
  <div class="navbar-row">
    <div class="navbar-links">
      <a routerLink="/perro">Perro</a>
      <a routerLink="/gato">Gato</a>
      <a routerLink="">Conejos y Roedores</a>
      <a href="">Peces</a>
      <a href="">Reptiles</a>
      <a href="">Pájaros</a>
      <a href="">Marcas</a>
      <a href="" style="color: brown; font-weight: bold;">Ofertas</a>
      <a href="">Verano <img src="./assets/soleado.png" alt="soleado" width="2px"></a>
      <a href="">Servicios</a>
    </div>
  </div>
</nav>
