<div class="formulario-mostrar-Ticket"  >
  <div class="marco-interior">
     <div class="espacio-interior">
      <table>
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Contenido</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cesta of conjuntoDeCestas" (dblclick)="seleccionarTicket(cesta)">
            <td>{{cesta[0].nombre}}   {{cesta[0].apellido1}}  {{cesta[0].apellido2}}</td>
            <td>
              <span *ngFor="let elemento of cesta.slice(1); let i = index">{{ elemento.nombre }}{{i === cesta.length - 2 ? '' : ', '}}</span>
            </td>

          </tr>
        </tbody>
      </table>


    </div>

  </div>
</div>
