<!DOCTYPE html>
<html>
<head>
	<title>División de pantalla en 4 zonas</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>
<body>
<nav class="navbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="#" class="nav-link">Inicio</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link"> {{usuarioActual.nombre}}</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a href="#" class="textNavBtn">Pedido entrega en tienda</a>
    </li>
    <li class="nav-item">
      <a href="#" class="fas fa-undo"> </a>
    </li>
    <li class="nav-item">
      <a href="#"  class="fas fa-chart-bar"> </a>
    </li>
    <li class="nav-item">
       <a href="#" class="fas fa-briefcase"> </a>
    </li>
  </ul>
</nav>




    <div id="contenedor1" class="contenedor">
      <form (ngSubmit)="buscarCliente()" *ngIf="clienteActual == null">
        <button class="btn-borrarArt"  (click)="borrarCliente()">X</button>
       <input type="text" [(ngModel)]="terminoBusquedaCliente" name="terminoBusquedaCliente" placeholder="Introduzca cliente...">
      </form>
      <form *ngIf="clienteActual != null">
        <button class="btn-borrarArt"  (click)="borrarCliente()">X</button>
        <input type="text" placeholder="{{clienteActual.nombre}}&nbsp;{{clienteActual.apellido1}}&nbsp;{{clienteActual.apellido2}}">
      </form>
       <button class="btn-lupa-c1"><i class="fa fa-search"></i></button>

      <div class="datos-cliente" *ngIf="clienteActual != null">
        <h5 class="h5-c1">DNI:  {{clienteActual.dni}}</h5>
        <h5 class="h5-c1">Telefono:  {{clienteActual.numeroTelefono}}</h5>
        <h5 class="h5-c1">Email: {{clienteActual.email}}</h5>
      </div>
      <div class="datos-cliente" *ngIf="clienteActual == null">
        <h5 class="h5-c1">DNI:   </h5>
        <h5 class="h5-c1">Telefono:   </h5>
        <h5 class="h5-c1">Email: </h5>
      </div>
    </div>
    <div id="contenedor2" class="contenedor">
      <form (ngSubmit)="buscar()" *ngIf="productoActual == null">
        <button class="btn-borrarArt"  (click)="borrarArticulo()">X</button>
      <input type="text" [(ngModel)]="terminoBusqueda" name="terminoBusqueda" placeholder="Introduzca articulo...">
    </form>
      <form *ngIf="productoActual != null">
        <button class="btn-borrarArt"  (click)="borrarArticulo()">X</button>

        <input  type="text" [(ngModel)]="terminoBusqueda" name="terminoBusqueda" placeholder="{{productoActual.nombre}}">

      </form>
      <button class="btn-lupa"><i class="fa fa-search"></i></button>
      <button class="btn-lupa-externa"><i class="fa fa-search"></i></button>
      <div class="datos-articulo" *ngIf="productoActual != null">
        <h5  class="h5-separado">Precio: {{productoActual.precio}} </h5>
        <h5  class="h5-separado">Lote:  {{productoActual.Lote}}</h5>
        <h5  class="h5-separado">Familia:  {{productoActual.familia}}</h5>
        <h5  class="h5-separado">Unidades <input class="unidades-articulo" [(ngModel)]="cantidadUnidades" type="number" min="1" max="99" value="1">
        </h5>
       </div>
      <div class="datos-articulo" *ngIf="productoActual == null">
        <h5  class="h5-separado">Precio:  </h5>
        <h5  class="h5-separado">Lote:  </h5>
        <h5  class="h5-separado">Familia:  </h5>
        <h5  class="h5-separado">Unidades <input class="unidades-articulo" type="number" min="1" max="99">
        </h5>
       </div>
      <div class="botones-contenedor2">
        <button>Tarifas(F3)</button>
        <button>Descto (F4)</button>
        <button>Venta (F5)</button>
      </div>
      <div class="boton-visualizador">
        <button (click)="mostrarDatosArticulo()" class="btn-page"><i class="fa fa-file"></i></button>
      </div>
    </div>
    <div id="contenedor3" class="contenedor">
      <div id="cesta" class="contenedor-interior">
        <div class="titulo-cesta">
          <p>Artículo</p>
          <p>Precio</p>
        </div>
        <br>
        <div class="Objeto-cesta"  >
        <table>
          <tbody>
            <tr *ngFor="let producto of cesta" >
              <td>{{producto.nombre}}</td>
              <td>{{producto.precio}}€</td>
            </tr>
          </tbody>
        </table>

        </div>
      </div>
      <div class="botones-contenedor3">
        <button (click)="mostrarPanelCobro()" (click)="totalCesta()">Finalizar venta</button>
        <button (click)="aparcarCesta()">Aparcar venta</button>
        <button>Hacer encargo</button>
        <button (click)="vaciarCestaCompleta()">Cancelar</button>
        <button>Hacer algo</button>
        <button>Hacer algo</button>

      </div>
    </div>


    <div id="contenedor4" class="contenedor">
      <div  id = "fondo-tabla" class="fondo-tabla">

      <table class="center">
          <tbody>
          <tr *ngFor="let resultado of resultados" (dblclick)="aniadircesta(resultado)" (click)="seleccionarProducto(resultado)">
            <td><strong>{{resultado.nombre}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{resultado.precio}}€<br>
            <small>{{resultado.referencia}} · familia · tipo · utilidad · {{resultado.estado}}</small></td>
          </tr>

      </tbody>
      </table>
      <table class="center">
        <tbody>
          <tr *ngFor="let resultadoCliente of resultadosCliente" (dblclick)="seleccionarCliente(resultadoCliente)">
            <td><strong>{{resultadoCliente.nombre}} {{resultadoCliente.apellido1}} {{resultadoCliente.apellido2}}</strong>

        </tr>

    </tbody>
    </table>
    </div>
    </div>
    <div id="contenedor5" class="contenedor">
      <button  (click) = "logout()" class="negro">Cambiar de usuario</button>
      <button class="azul">algo</button>
      <button (click)="mostrarRecuperarTicket()" class="rojo">Recuperar Ticket</button>
      <button (click)="mostrarDevolverTicket()" class="morado">Devolver ticket</button>
      <button (click)="mostrarConsultarTicket()" class="rojo">Consultar Ticket</button>
      <button class="azul">Retirada efectivo</button>
      <button (click)="mostrarCierreCaja()" class="gris">Cierre caja</button>
      <button class="verde">Contrato</button>
      <button class="gris">Abrir cajón (F8)</button>
      <button onclick="window.open('/almacen', '_blank')" class="rojo">Almacén</button>

      <button class="gris">Sincro manual</button>
      <button class="amarillo" onclick="self.close()">Salir</button>

    </div>
    <div id="contenedor6" class="contenedor">
      <button >Minimizar</button>
    </div>
    <div id="pie-pagina" class="contenedor">
    </div>

    <div class="formulario-panel-cobro" [hidden]="!formularioPanelCobro">
      <div class="formulario-panel-cobro-parte-alta">
        <div class="pequenio">
          <button (click)="ocultarPanelCobro()">X</button>

          <h1>Total:
          </h1>
          <div class="valor">
            <h1 class="precio-final">{{total}}€</h1>
          </div>
          <div class="valor2">
            <input type="text" [(ngModel)]="dineroEfectivo" name="dineroEfectivo" placeholder="Introduzca articulo...">

          </div>
        </div>

      </div>
      <div class="formulario-panel-cobro-parte-baja">

         <div class="formulario-panel-cobro-parte-baja-izquierda">
          <button (click)="terminarCompraEfectivo()" class="btn-lateral">Efectivo (F2)</button>
          <button (click)="terminarCompraTarjeta()" class="btn-lateral">Tarjeta (F3)</button>
          <button class="btn-lateral">?</button>
          <button class="btn-lateral">?</button>
        </div>
        <div class="formulario-panel-cobro-parte-baja-derecha">
         </div>
      </div>

    </div>

    <div (click)="formularioDevolucionDineroEfectivo=false" class="formulario-Devolucion-Efectivo" [hidden]="!formularioDevolucionDineroEfectivo">
        <h1>Efectivo a devolver:</h1>

          {{DineroDevolver}} €

    </div>




    <div class="formulario-mostrar-Ticket" [hidden]="!formularioConsultarTicket">
      <div class="marco-interior">
        <button (click)="ocultarConsultarTicket()">X</button>
        <input type="text" placeholder="Introduzca número de ticket a consultar...">
        <div class="espacio-interior">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam facilis minima laboriosam repellendus corrupti corporis excepturi libero, vel dolorem sunt.</p>
        </div>
      </div>
    </div>

    <div class="formulario-mostrar-Ticket" [hidden]="!formularioRecuperarTicket">
      <div class="marco-interior">
        <button (click)="ocultarRecuperarTicket()">X</button>
        <div class="espacio-interior">
          <table>
            <thead>
              <tr>
                <th>Cesta</th>
                <th>Contenido</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cesta of conjuntoDeCestas" (dblclick)="recuperarTicket(cesta)">
                <td>{{ cesta[0] }}</td>
                <td>
                  <ul>
                    <li *ngFor="let elemento of cesta.slice(1)">{{ elemento.nombre }}</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>


        </div>
      </div>
    </div>

    <div class="formulario-Datos-Articulo" [hidden]="!formularioDatosArticulo">
      <div class="marco-interior">
        <button (click)="ocultarDatosArticulo()">X</button>
        <div class="espacio-interior"  *ngIf="productoActual != null">
          <p>Nombre: {{productoActual.nombre}}</p>
          <p>Marca: {{productoActual.marca}}</p>
          <p>Módulo: {{productoActual.modulo}}</p>
          <p>Referencia: {{productoActual.referencia}}</p>
          <p>Precio: {{productoActual.precio}}</p>
        </div>
      </div>
    </div>

    <div class="formulario-devolver-Ticket" [hidden]="!formularioDevolverTicket">
      <div class="marco-interior-morado">
        <button (click)="ocultarDevolverTicket()">X</button>
        <input type="text" placeholder="Introduzca número de ticket a devolver...">
        <div class="espacio-interior-morado">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam facilis minima laboriosam repellendus corrupti corporis excepturi libero, vel dolorem sunt.</p>
        </div>
      </div>
    </div>


    <div class="formulario-cierre-caja" [hidden]="!formularioCierreCaja">
      <div class="marco-interior-gris">
        <button (click)="ocultarCierreCaja()">X</button>
        <div class="espacio-interior-gris">
          <div class="money-form">
            <div class="column">
              <h2>Billetes</h2>
              <form>
                <label for="bill-100">100€:</label>
                <input type="number" name="bill-100" id="bill-100" min="0" step="1">
                <br>
                <label>$50:</label>
                <input type="number" name="bill-50" min="0" step="1">
                <br>
                <label>$20:</label>
                <input type="number" name="bill-20" min="0" step="1">
                <br>
                <label>$10:</label>
                <input type="number" name="bill-10" min="0" step="1">
                <br>
                <label>$5:</label>
                <input type="number" name="bill-5" min="0" step="1">
                <br>
                <label>$1:</label>
                <input type="number" name="bill-1" min="0" step="1">
                <br>
              </form>
            </div>
            <div class="column">
              <h2>Monedas</h2>
              <form>
                <label>$0.50:</label>
                <input type="number" name="coin-50" min="0" step="0.01">
                <br>
                <label>$0.25:</label>
                <input type="number" name="coin-25" min="0" step="0.01">
                <br>
                <label>$0.10:</label>
                <input type="number" name="coin-10" min="0" step="0.01">
                <br>
                <label>$0.05:</label>
                <input type="number" name="coin-05" min="0" step="0.01">
                <br>
                <label>$0.01:</label>
                <input type="number" name="coin-01" min="0" step="0.01">
                <br>
              </form>
            </div>
          </div>

        </div>
        <button>Siguiente</button>
      </div>
    </div>

  </body>
</html>

