<div class="formulario-Datos-Articulo">
  <div class="marco-interior">
    <div class="espacio-interior" *ngIf="productoActual != null">
      <div class="form-group">
        <label>Nombre:</label>
        <p>{{productoActual.nombre}}</p>
      </div>
      <div class="form-group">
        <label>Marca:</label>
        <p>{{productoActual.marca}}</p>
      </div>

      <div class="form-group">
        <label>Modulo:</label>
        <p>{{productoActual.modulo}}</p>

      </div>

      <div class="form-group">

        <label>Referencia:</label>
        <p>{{productoActual.referencia}}</p>
      </div>
      <div class="form-group">

        <label>Precio:</label>
        <p>{{productoActual.precioNeto}}€</p>
      </div>
    </div>
  </div>
</div>
