<div class="formulario-Datos-Cliente">

  <div class="marco-interior-crear-cliente">
    <div class="espacio-interior-DCliente">
      <header class="botones" *ngIf="editable !== 1">
        <a [class.selected]="boton === 0" (click)="boton = 0">Datos</a>
        <a [class.selected]="boton === 1" (click)="boton = 1">vales</a>
        <a [class.selected]="boton === 2" (click)="boton = 2; obtenerTickets()">Tickets</a>
      </header>

      <form class="datos-clientes-interno" *ngIf="clienteActual != null && boton === 0 && editable === 0">
        <label class="form-group">
          Nombre:
          <input type="text" [readonly]="!editable" placeholder="Nombre" id="clienteNombre" name="clienteNombre"
            [(ngModel)]="clienteActual.nombre">
        </label><br>
        <label class="form-group">
          Apellido1:
          <input type="text" [readonly]="!editable" placeholder="Apellido 1" id="apellido1" name="apellido1"
            [(ngModel)]="clienteActual.apellido1">
        </label><br>
        <label class="form-group">
          Apellido2:
          <input type="text" [readonly]="!editable" placeholder="Apellido 2" id="apellido2" name="apellido2"
            [(ngModel)]="clienteActual.apellido2">
        </label><br>
        <label class="form-group">
          DNI:
          <input type="text" [readonly]="!editable" placeholder="DNI" id="dni" name="dni"
            [(ngModel)]="clienteActual.dni">
        </label><br>
        <label class="form-group">
          Dirección:
          <input type="text" [readonly]="!editable" placeholder="Dirección" id="direccion" name="direccion"
            [(ngModel)]="clienteActual.direccion">
        </label><br>
        <label class="form-group">
          Código postal:
          <input type="text" [readonly]="!editable" placeholder="Código postal" id="codigoPostal" name="codigoPostal"
            [(ngModel)]="clienteActual.codigoPostal">
        </label><br>
        <label class="form-group">
          Localidad:
          <input type="text" [readonly]="!editable" placeholder="Localidad" id="localidad" name="localidad"
            [(ngModel)]="clienteActual.localidad">
        </label><br>
        <label class="form-group">
          Número de Telefono:
          <input type="text" [readonly]="!editable" placeholder="Telefono" id="telefono" name="telefono"
            [(ngModel)]="clienteActual.numeroTelefono">
        </label><br>
        <label class="form-group">
          Número de móvil:
          <input type="text" [readonly]="!editable" placeholder="Móvil" id="movil" name="movil"
            [(ngModel)]="clienteActual.numeroMovil">
        </label><br>
        <label class="form-group">
          Correo Electrónico:
          <input type="text" [readonly]="!editable" placeholder="Correo Electrónico" id="email" name="email"
            [(ngModel)]="clienteActual.email">

        </label>
        <div [hidden]="!editable">
          <button mat-raised-button color="primary" (click)="onSubmit()">Guardar cambios</button>
        </div>
      </form>
      <div class="datos-clientes-interno" *ngIf="boton === 1 ">
        <table>
          <thead>
            <tr>
              <th>Referencia</th>
              <th>Fecha de inicio</th>
              <th>Fecha de expiración</th>
              <th>Cantidad</th>
              <th>Fecha uso</th>
              <th>Ticket</th>
              <th>Utilizado</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let valecliente of clienteActual.valeClientes">
              <tr>
                <td>{{ valecliente.referencia }}</td>
                <td>{{ valecliente.vale.fechaInicio | date }}</td>
                <td>{{ valecliente.vale.fechaExpiracion | date }}</td>
                <td>{{ valecliente.vale.cantidad }}</td>
                <td>{{valecliente.vale.fechaUso | date}}</td>
                <td>{{valecliente.vale.ticketReferencia}}</td>
                <td>{{valecliente.vale.utilizado}}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>

      </div>


      <div class="datos-clientes-interno" *ngIf="editable === 1">
        <form (submit)="terminarCompraEfectivo()" class="datos-clientes-interno">
          <div class="form-group">
            <label>Nombre:</label>
            <input type="text" [(ngModel)]="nuevoCliente.nombre" name="nombre" required>
          </div>
          <div class="form-group">
            <label>Primer apellido:</label>
            <input type="text" [(ngModel)]="nuevoCliente.apellido1" name="apellido1" required>
          </div>
          <div class="form-group">
            <label>Segundo apellido:</label>
            <input type="text" [(ngModel)]="nuevoCliente.apellido2" name="apellido2" required>
          </div>
          <div class="form-group">
            <label>Código postal:</label>
            <input type="text" [(ngModel)]="nuevoCliente.codigoPostal" name="codigoPostal" required>
          </div>
          <div class="form-group">
            <label>DNI:</label>
            <input type="text" [(ngModel)]="nuevoCliente.dni" name="dni" required>
          </div>
          <div class="form-group">
            <label>Email:</label>
            <input type="text" [(ngModel)]="nuevoCliente.email" name="email" required>
          </div>
          <div class="form-group">
            <label>Localidad:</label>
            <input type="text" [(ngModel)]="nuevoCliente.localidad" name="localidad" required>
          </div>
          <div class="form-group">
            <label>Número de móvil:</label>
            <input type="text" [(ngModel)]="nuevoCliente.numeroMovil" name="numeroMovil" required>
          </div>
          <div class="form-group">
            <label>Número de teléfono:</label>
            <input type="text" [(ngModel)]="nuevoCliente.numeroTelefono" name="numeroTelefono" required>
          </div>
          <div class="form-group">
            <label>Dirección:</label>
            <input type="text" [(ngModel)]="nuevoCliente.direccion" name="direccion" required>
          </div>
          <button type="submit" class="btn-crear-cliente">Crear cliente</button>
        </form>

      </div>



      <div class="datos-clientes-interno" *ngIf="boton === 2">
        <div class="div">


          <table>
            <thead>
              <tr>
                <th>Referencia</th>
                <th>Cliente</th>
                <th>Vendedor</th>

              </tr>
            </thead>

            <ng-container *ngFor="let ticket of tickets">
              <tr>
                <td>{{ticket.referencia}}</td>
                <td>
                  <ng-container *ngIf="ticket.cliente && ticket.cliente.nombre">{{ ticket.cliente.nombre }},
                    {{ticket.cliente.apellido1}} {{ticket.cliente.apellido2}}</ng-container>

                </td>

                <td>{{ticket.vendedor}}</td>
              </tr>
            </ng-container>



          </table>
        </div>
      </div>



    </div>

  </div>
</div>
