<html>

<body>
  <div class="div-externo">
    <div class="contenedor">
      <form class="login-form" (ngSubmit)="formSubmit()">
        <div class="form-group">
          <input type="text" [(ngModel)]="loginData.username" name="username" required matInput
            placeholder="Digite su nombre de usuario"><br>
        </div>

        <div class="form-group">
          <input type="password" [(ngModel)]="loginData.password" name="password" required type="password" matInput
            placeholder="Digite su contraseña">
        </div>

        <button type="submit" class="login-button">Acceder</button>
      </form>




    </div>
  </div>

</body>