.formulario-Datos-Cliente {
  background-color: #454545;
  position: fixed;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 250px;
    transform: translate(-50%, -50%);
     border-radius: 20px;

    z-index: 1000;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

}

.info-interna{
   font-size: large;
  text-align: center;
  border: 5px solid #FFA500;
  background-color: #454545;

  border-radius: 15px;
  height: 92%;
  margin: 5px;
  }

  p {
    font-weight: 600;
    letter-spacing: 2px;
    color: #e0e0e0;
    text-shadow: 2px 2px 2px #1E1E1E;
  }
