.contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorInterior{
  border: 1px solid blue;
  min-height: 200px;
  width: 80%;
  padding: 30px;
}
