<div class="formulario-Datos-Cliente"  >

  <div class="marco-interior-crear-cliente">
     <div class="espacio-interior-DCliente" >
      <div class="botones">
        <button (click)="boton = 0">Datos</button>
        <button (click)="boton = 1">vales</button>
        <button (click)="boton = 2">Tickets</button>
        <button (click)="boton = 3">Comentarios</button>
      </div>
      <form class="datos-clientes-interno" *ngIf="clienteActual != null && boton === 0">
        <label class="form-group">
          Nombre:
          <input type="text" [readonly]="!editable" placeholder="Nombre" id="clienteNombre" name="clienteNombre"  [(ngModel)]="clienteActual.nombre">
        </label><br>
        <label class="form-group">
          Apellido1:
          <input type="text" [readonly]="!editable" placeholder="Apellido 1" id="apellido1" name="apellido1"  [(ngModel)]="clienteActual.apellido1">
        </label><br>
        <label class="form-group">
          Apellido2:
          <input type="text" [readonly]="!editable" placeholder="Apellido 2" id="apellido2" name="apellido2"  [(ngModel)]="clienteActual.apellido2">
        </label><br>
        <label class="form-group">
          DNI:
          <input type="text" [readonly]="!editable" placeholder="DNI" id="dni" name="dni"  [(ngModel)]="clienteActual.dni">
        </label><br>
        <label class="form-group">
          Dirección:
          <input type="text" [readonly]="!editable" placeholder="Dirección" id="direccion" name="direccion"  [(ngModel)]="clienteActual.direccion">
        </label><br>
        <label class="form-group">
          Código postal:
          <input type="text" [readonly]="!editable" placeholder="Código postal" id="codigoPostal" name="codigoPostal"  [(ngModel)]="clienteActual.codigoPostal">
        </label><br>
        <label class="form-group">
          Localidad:
          <input type="text" [readonly]="!editable" placeholder="Localidad" id="localidad" name="localidad"  [(ngModel)]="clienteActual.localidad">
        </label><br>
        <label class="form-group">
          Número de Telefono:
          <input type="text" [readonly]="!editable" placeholder="Telefono" id="telefono" name="telefono"  [(ngModel)]="clienteActual.numeroTelefono">
        </label><br>
        <label class="form-group">
          Número de móvil:
          <input type="text" [readonly]="!editable" placeholder="Móvil" id="movil" name="movil"  [(ngModel)]="clienteActual.numeroMovil">
        </label><br>
        <label class="form-group">
          Correo Electrónico:
          <input type="text" [readonly]="!editable" placeholder="Correo Electrónico" id="email" name="email"  [(ngModel)]="clienteActual.email">

        </label>
        <div [hidden]="!editable">
          <button mat-raised-button color="primary" (click)="onSubmit()"  >Guardar cambios</button>
        </div>
      </form>
      <div class="datos-clientes-interno" *ngIf="boton === 1">
        <p>Vales</p>
        <table>
          <thead>
            <tr>
              <th>Referencia</th>
              <th>Fecha de inicio</th>
              <th>Fecha de expiración</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let valecliente of clienteActual.valeClientes">
              <tr  >
                <td>{{ valecliente.referencia }}</td>
                <td>{{ valecliente.vale.fechaInicio | date }}</td>
                <td>{{ valecliente.vale.fechaExpiracion | date }}</td>

                <td>{{ valecliente.vale.cantidad }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>

       </div>


      <div class="datos-clientes-interno" *ngIf="boton === 2">
        <p>Tickets</p>
      </div>

      <div class="datos-clientes-interno" *ngIf="boton === 3">
        <p>Comentarios</p>
      </div>

    </div>

  </div>
</div>
