body {
    background-color: #940e0e;
}

.borde-externo{
    background-color: #940e0e(255, 0, 0);
    border: 10px solid white;
    position: fixed;
    top: 55%;
    left: 50%;
    width: 70%;
    height: 80%;
    transform: translate(-50%, -50%);

}
.titulo-div{
    width: 100%;
    height: 10%;
    text-align: center;
    color: white;
}

.titulo{
    font-size: 60px;
}

.botones-contenedor {
    display: flex;
    flex-wrap: wrap; /* Envuelve los elementos en varias líneas */
    justify-content: space-between; /* Distribuye los elementos en el espacio restante de manera uniforme */
    width: 90%; /* Ajusta el ancho de los elementos */
    margin: 0 auto; /* Centra los elementos horizontalmente */
    padding-top: 25px;
  }

  .botones-contenedor button {
    width: 48%; /* Ajusta el ancho de los botones para que quepan dos por fila */
    height: 120px; /* Establece la altura deseada */
    margin-bottom: 10px; /* Agrega un espacio entre los botones */
    border: 5px solid rgb(255, 255, 255); /* Establece el borde externo */
    border-radius: 5px; /* Ajusta el borde redondeado */
    background-color: #940e0e; /* Establece el color de fondo */
    color: white; /* Establece el color del texto */
    font-size: 30px; /* Ajusta el tamaño del texto */
    padding: 10px; /* Ajusta el relleno */
    font-weight: bold;
    margin-top: 2%;
  }
