<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almacén</title>
</head>
<body>
    <div class="titulo-div"><br><br><h1 class="titulo">Almacen</h1></div>
    <div class="borde-externo">
        <div class="botones-contenedor">
        <button>Boton con utilidad número 1</button>
        <button>Boton con utilidad número 2</button>
        <button>Boton con utilidad número 3</button>
        <button>Boton con utilidad número 4</button>
        <button>Boton con utilidad número 5</button>
        <button>Boton con utilidad número 6</button>
        <button>Boton con utilidad número 7</button>
        <button>Boton con utilidad número 8</button>
    </div>
    </div>
</body>
</html>