<!DOCTYPE html>
<html>

<head>
  <title>División de pantalla en 4 zonas</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>

<body>




  <div id="contenedor1" class="contenedor">
    <div class="contenedor1-partealta-datos">
      <img src="../../../assets/logo.png" alt="logo" width="200px">
    </div>

    <div class="contenedor1-botones">
      <button class="contenedor1-botones-btn" (click)="openDialog()">
        <i class="fas fa-ticket"></i>
        <span>Recuperar Ticket</span>
      </button>
      <button class="contenedor1-botones-btn" (click)="openDialogConsultarTicket(0)">
        <i class="fas fa-search"></i>
        <span> Consultar Ticket</span>
      </button>
      <button class="contenedor1-botones-btn" (click)="openDialogConsultarTicket(1)">
        <i class="fas fa-undo la-lg"></i>
        <span>Devolver Ticket</span>
      </button>
      <button class="contenedor1-botones-btn" (click)="openDialogCierreCaja(1)">
        <i class="fas fa-cash-register la-lg"></i>
        <span>Cierre Caja</span>
      </button>
      <button class="contenedor1-botones-btn" (click)="openDialogCierreCaja(2)">
        <i class="fas fa-money-bill-wave fa-lg"></i>
        <span>Retirar Efectivo</span>
      </button>


      <button class="contenedor1-botones-btn"><i class="fa-sharp fa-solid fa-unlock fa-lg"></i><span>Abrir
          Caja</span></button>

      <button class="contenedor1-botones-btn" (click)="openCalculator()">
        <i class="fas fa-calculator"></i>
        <span>Calculadora</span>
      </button>
      <button class="contenedor1-botones-btn" (click)="logout()" href="#">
        <i class="fa-solid fa-right-to-bracket"> </i>
        <span>Salir</span>
      </button>
    </div>



  </div>



  <div id="contendor-grande" class="contendor">
    <div id="contenedor2" class="contenedor">

      <div class="contenedor-barras">
        <div class="contenedor1-barra-busqueda">
          <div class="contenedor1-barra-busqueda-izquierdo">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
          </div>
          <div class="contenedor1-barra-busqueda-centro" *ngIf="!busqueda">
            <form (ngSubmit)="buscarCliente()">
              <input class="busqueda-centro-usuarios" [(ngModel)]="terminoBusquedaCliente" name="terminoBusquedaCliente"
                placeholder="Introduzca cliente...">
            </form>
          </div>

          <div class="contenedor1-barra-busqueda-centro" *ngIf="busqueda">
            <form (ngSubmit)="buscar()" *ngIf="productoActual == null">
              <input class="busqueda-centro-usuarios" [(ngModel)]="terminoBusqueda" name="terminoBusqueda"
                placeholder="Introduzca articulo...">
            </form>
          </div>

          <div class="contenedor1-barra-busqueda-derecha">
            <button><i class="fa-solid fa-xmark"></i></button>
          </div>

        </div>

        <div class="icono-persona" *ngIf="!busqueda">
          <a class="btn-cambiar-A-Producto" (click)="cambiarBusqueda()"><i class="fa-solid fa-user"></i></a>
        </div>

        <div class="icono-persona" *ngIf="busqueda">
          <a class="btn-cambiar-A-Producto" (click)="cambiarBusqueda()"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>

      </div>



      <div class="datos-articulo">
        <h5 class="h5-separado">Unidades <input [(ngModel)]="cantidadUnidades" class="unidades-articulo" type="number"
            min="1" max="99">
        </h5>
      </div>

      <div class="boton-visualizador">
        <button (click)="openDialogDatosProducto()" class="btn-page"><i class="fa-solid fa-barcode"
            style="color: #ffffff;"></i></button>
      </div>
    </div>

    <div id="contenedor3" class="contenedor">

      <div id="cesta" class="contenedor-interior">
        <div class="Objeto-cesta">
          <table>
            <tbody>
              <tr *ngFor="let producto of cesta" (dblclick)="eliminarDeCesta(producto)">
                <td>[{{producto.referencia}}]&nbsp;{{producto.nombre}}</td>
                <p *ngIf="clienteActual && clienteActual.rol === 'EMPLEADO'">{{(producto.precio * 0.8).toFixed(2)}}€</p>
                <p *ngIf="!clienteActual || clienteActual.rol !== 'EMPLEADO'">{{producto.precio}}€</p>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <h1 style="margin-left: 30px;" *ngIf="cesta.length > 0">Subtotal: {{subtotal}} €</h1>

    </div>

    <div id="contenedor3-A" class="contenedor" *ngIf="clienteActual?.rol === 'EMPLEADO'">

      <div id="cesta" class="contenedor-interior">
        <div class="Objeto-cesta">



          <table>
            <tbody>
              <tr *ngFor="let producto of cesta" (dblclick)="eliminarDeCesta(producto)">
                <td>[{{producto.referencia}}]&nbsp;{{producto.nombre}}</td>
                <p *ngIf="clienteActual && clienteActual.rol === 'EMPLEADO'">{{(producto.precio * 0.8).toFixed(2)}}€</p>
                <p *ngIf="!clienteActual || clienteActual.rol !== 'EMPLEADO'">{{producto.precio}}€</p>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>


    <div id="contenedor4" class="contenedor">
      <div id="fondo-tabla" class="fondo-tabla">

        <table class="center">
          <tbody>
            <ng-container *ngFor="let resultado of resultados">
              <tr [ngClass]="{'producto-gris': resultado.estado === 'no encargable'}"
                (dblclick)="aniadircesta(resultado)" (click)="seleccionarProducto(resultado)">
                <td>
                  <strong>{{resultado.nombre}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <span *ngIf="clienteActual && clienteActual.rol === 'EMPLEADO'">{{(resultado.precio *
                    0.8).toFixed(2)}}€</span>
                  <span *ngIf="!clienteActual || clienteActual.rol !== 'EMPLEADO'">{{resultado.precio}}€</span>
                  <br>
                  <small>{{resultado.referencia}} · {{resultado.familia}} · {{resultado.tipo}} · {{resultado.marca}} ·
                    {{resultado.estado}}</small>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <table class="center">
          <tbody>
            <tr *ngFor="let resultadoCliente of resultadosCliente" (dblclick)="seleccionarCliente(resultadoCliente)">
              <td><strong>{{resultadoCliente.nombre}} {{resultadoCliente.apellido1}} {{resultadoCliente.apellido2}} |
                  {{resultadoCliente.dni}} || {{resultadoCliente.numeroMovil}} ||
                  {{resultadoCliente.localidad}}</strong>
            </tr>
          </tbody>
        </table>


      </div>
    </div>

    <div id="contenedor5" class="contenedor">

      <div class="botones-contenedor3">
        <button (click)="openDialogPago()">Finalizar venta<span></span></button>
        <button (click)="aparcarCesta()">Aparcar venta</button>
        <button>Hacer encargo</button>
        <button (click)="vaciarCestaCompleta()">Cancelar</button>

      </div>

    </div>

    <div id="contenedor7" class="contenedor">
      <div class="contenedor1-lateral-izquierdo">
        <div class="datos-cliente" *ngIf="clienteActual != null">
          <h5 class="h5-c1">
            <span class="datos-cliente-label">DNI:</span> {{clienteActual.dni}}
            <span class="datos-cliente-label">Teléfono:</span> {{clienteActual.numeroTelefono}}
            <span class="datos-cliente-label">Email:</span> {{clienteActual.email}}
          </h5>
        </div>

      </div>
      <div class="contenedor1-lateral-derecho">
        <a class="btn-datos-usuario" (click)="openDialogDatosCliente(0)"><i class="fa-solid fa-file"
            style="color: #0077B5;"></i></a>
        <a class="btn-datos-usuario" (click)="openDialogDatosCliente(1)"><i class="fa fa-plus"
            style="color: #0077B5;"></i></a>
        <a class="btn-datos-usuario" (click)="openDialogDatosCliente(2)"><i class="fa-solid fa-pen-to-square"
            style="color: #0077B5;"></i></a>
        <a class="btn-datos-usuario" ><i class="fa-solid fa-user-xmark" style="color: #0077B5;"></i></a>
      </div>
    </div>

  </div>








</body>

</html>
