<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pricipal</title>
</head>

<body>
  <div class="contenedor-principal">

    <section id="cabeceraPerro">
      <img src="./assets/cabecera/perro/cabecera1.webp" alt="problema al cargar">
    </section>



    <div class="contenedorInterior">



      <section id="perro">
        <header class="divsForA">
          <a routerLink="perro">PRODUCTOS RECOMENDADOS PARA TU PERRETE  </a>
        </header>

        <div class="ofertasMultiples">
          <div class="tarjeta">
            <a router="gato">
              <div class="imagen">
                <img routerLink="perro" src="./assets/Familias/Perro/Pienso/Acana/acanaFitAdult.webp" alt="Oferta 1">
              </div>
              <div class="contenido">
                <h4>Nombre del producto</h4>
                <p>Precio: $X</p>
              </div>
            </a>
          </div>

          <div class="tarjeta">
            <a href="#">
              <div class="imagen">
                <img routerLink="perro" src="./assets/Familias/Perro/Pienso/Advance/advance_sensitive_medium_salmon.webp" alt="Oferta 2">
              </div>
              <div class="contenido">
                <h4>Nombre del producto</h4>
                <p>Precio: $X</p>
              </div>
            </a>
          </div>

          <div class="tarjeta">
            <a router="gato">
              <div class="imagen">
                <img routerLink="perro" src="./assets/Familias/Perro/Pienso/Acana/acanaPuppyLargeBreed.webp" alt="Oferta 3">
              </div>
              <div class="contenido">
                <h4>Nombre del producto</h4>
                <p>Precio: $X</p>
              </div>
            </a>
          </div>

          <div class="tarjeta">
            <a router="gato">
              <div class="imagen">
                <img routerLink="perro" src="./assets/Familias/Perro/Pienso/Advance/advance_adult_medium.webp" alt="Oferta 3">
              </div>
              <div class="contenido">
                <h4>Nombre del producto</h4>
                <p>Precio: $X</p>
              </div>
            </a>
          </div>
        </div>

        <div class="botonExtr">
          <button (click)="go('Perro')">Cargar más</button>
        </div>

      </section>


      <section id="cabeceraPerro">
        <img src="./assets/cabecera/gato/cabecera3.webp" alt="problema al cargar">
      </section>

      <section id="gato">
        <div class="divsForA">
          <a routerLink="Gato">PRODUCTOS RECOMENDADOS PARA TU MICHI</a>
        </div>

        <div class="ofertasMultiples">
          <div class="tarjeta">
            <a router="gato">
              <div class="imagen">
                <img routerLink="perro" src="./assets/Familias/Gato/Pienso/Acana/acanaPacificaPienso.webp" alt="Oferta 1">
              </div>
              <div class="contenido">
                <h4>Nombre del producto</h4>
                <p>Precio: $X</p>
              </div>
            </a>
          </div>

          <div class="tarjeta">
            <a href="#">
              <div class="imagen">
                <img routerLink="perro" src="./assets/Familias/Gato/Pienso/Applaws/applaws_adult_grain_free_pollo.webp" alt="Oferta 2">
              </div>
              <div class="contenido">
                <h4>Nombre del producto</h4>
                <p>Precio: $X</p>
              </div>
            </a>
          </div>

          <div class="tarjeta">
            <a router="gato">
              <div class="imagen">
                <img routerLink="perro" src="./assets/Familias/Gato/Pienso/Acana/comida_gatos_acana_wild_prairie.webp" alt="Oferta 3">
              </div>
              <div class="contenido">
                <h4>Nombre del producto</h4>
                <p>Precio: $X</p>
              </div>
            </a>
          </div>

          <div class="tarjeta">
            <a router="gato">
              <div class="imagen">
                <img routerLink="perro" src="./assets/Familias/Gato/Pienso/Acana/comida_gatos_acana_wild_prairie.webp" alt="Oferta 3">
              </div>
              <div class="contenido">
                <h4>Nombre del producto</h4>
                <p>Precio: $X</p>
              </div>
            </a>
          </div>
        </div>

        <div class="botonExtr">
          <button (click)="go('Gato')">Cargar más</button>
        </div>
      </section>
    </div>


  </div>
</body>

</html>
