
<body>

  <div class="contenedor-principal">
    <div class="contPricImagen">
       <section id="cabeceraPerro">
        <h1>Tu <span>{{ palabraActual }}</span>,</h1>
        <h2>nuestra pasión</h2>
       </section>

    </div>




    <div class="contenedorInterior">



      <div id="perro">
        <header class="divsForA">

          <a routerLink="perro"><p>PRODUCTOS RECOMENDADOS PARA TU PERRETE </p> </a>
        </header>

        <div class="ofertasMultiples">
          <div class="tarjeta" *ngFor="let dato of datosP.slice(0, 4)">
            <a (dblclick)="verDetallesProducto(dato)">
              <div class="imagen">
                <img [src]="dato.imagen" alt="Oferta 1">
              </div>
              <div class="contenido" style="padding: 10px;">
                <h4>{{dato.nombre}}</h4>
                <p>Precio: {{(dato.precioNeto + (dato.precioNeto*(dato.ivaAsociado/100))).toFixed(2)}}€</p>
              </div>
            </a>
          </div>
        </div>


        <div class="botonExtr">
          <button class="cargarMas" (click)="go('Perro')">Cargar más</button>
        </div>

      </div>

      <section class="fotoGato">

      </section>

      <section id="gato">
        <div class="divsForA">
          <a routerLink="Gato"><p>PRODUCTOS RECOMENDADOS PARA TU MICHI</p></a>
        </div>

        <div class="ofertasMultiples">
          <div class="tarjeta" *ngFor="let dato of datosG.slice(0, 4)">
            <a (dblclick)="verDetallesProducto(dato)">
              <div class="imagen">
                <img [src]="dato.imagen" alt="Oferta 1">
              </div>
              <div class="contenido">
                <h4>{{dato.nombre}}</h4>
                <p>Precio: {{(dato.precioNeto + (dato.precioNeto*(dato.ivaAsociado/100))).toFixed(2)}}€</p>
              </div>
            </a>
          </div>
        </div>

        <div class="botonExtr">
          <button class="cargarMas" (click)="go('Gato')">Cargar más</button>
        </div>
      </section>
    </div>




  </div>
</body>

