.contenedor{
  background-color: #E6F2F5;
  overflow: auto;
}
.lateral-izquierdo {
  background-color: #dce8eb;
  width: 30%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box; /* Incluye el borde y el padding en el tamaño del elemento */

}

.lateral-derecho {
  background-color: #dce8eb;
  width: 70%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box; /* Incluye el borde y el padding en el tamaño del elemento */


}